body {
    font-family: Arial, sans-serif;
    background-color: #6E708F;
    color: #D3D3D3;
    margin: 0;
    padding: 20px;
    text-align: center;
}

header {
    background-color: #8E4585;
    color: white;
    padding: 20px;
    border-radius: 8px;
}

main {
    margin: 20px 0;
}
 
footer {
    margin-top: 40px;
    font-size: 0.9em;
    color: #ED2100;
}
